.main{
   margin-top: -110px;
    padding: 10px 70px 50px 60px;
    background: #fefcd5;
    width: 100%;
    height: 120%;
    margin-bottom: -46px;
}
.page{
    padding: 25px 40px 80px;
    background: #fff9af;
}