<section class="about">
    <div class="about__block about__side">
        <img src="../assets/img/img-1.png" alt="">
        <a href="#">
            ART IN THE AGE OF DIGITAL MEDIA,POST-TRUTH AND GLOBALISATION
        </a>
    </div>
    <div class="about__block">
        <a href="#">
            LATEST
        </a>
        <img src="../assets/img/about-1.png" alt="">
    </div>
    <div class="about__block about__side">
        <img src="../assets/img/img-2.png" alt="">
        <a href="#">
            CLIMATE CHANGE AND THE CHALLENGES OF A LOCAL COMMUNITY
        </a>
    </div>
    <div class="about__block">
        <img src="../assets/img/about-2.png" alt="">

    </div>
    <div class="about__block about-center">
        <a href="#">
            Explore
        </a>
        <a href="#">
            Create
        </a>
        <a href="#">
            Inspire
        </a>
        <img src="../assets/img/about-5.png" alt="">
    </div>
    <div class="about__block">
        <img src="../assets/img/about-3.png" alt="">

    </div>
    <div class="about__block about__side">
        <img src="../assets/img/img-3.png" alt="">
        <a href="#">
            WHERE IS THE ISSUE? HUMAN CRISIS IN THE AGE OF PROSPERITY
        </a>
    </div>
    <div class="about__block">
        <a href="#">
            INSIGHTS
        </a>
        <img src="../assets/img/about-4.png" alt="">
    </div>
    <div class="about__block about__side">
        <img src="../assets/img/img-4.png" alt="">
        <a href="#">
            MUSIC AND COMMUNITY BUILDING IN MOUNTAINEOUS REGIONS
        </a>
    </div>
</section>