<section class="latest">
    <div>
        <a href='#' class="latest__box">
            <h2>
                Increase of new HIV cases in
                Tajikistan
            </h2>
            <p><time datetime="2020-09-30"> Wednesday, Septemver 30, 2020</time> - Savribegim Nazarshoeva
            </p>
            <div class="latest__box-inner">
                <img src="assets/img/latest-1.png" alt="">
                <p>
                    New research shows that
                    almost 12,000 people in
                    Tajikistan are known to
                    be infected with HIV –
                    most of them are men.
                </p>
            </div>
        </a>
    </div>
    <div>
        <a href='#' class="latest__box">
            <h2>
                Alcohol addiction of youth in
                Kyrgyzstan
            </h2>
            <p><time datetime="2020-10-19">
                    Monday, October 19, 2020
                </time>
                - Darika Urgazieva
            </p>
            <div class="latest__box-inner">
                <img src="assets/img/latest-2.png" alt="">
                <p>
                    Kyrgyz National Centre of
                    Narcology registered 33 684
                    people addicted to alcohol.
                    Among them, there are
                    young people aged between 18-21.
                </p>
            </div>

        </a>
    </div>
    <div>
        <a href='#' class="latest__box">
            <h2>
                Girls not brides
            </h2>
            <p><time datetime="2019-11-08">
                    Friday, November 8, 2019
                </time>
                - Aqila Hassanzada
            </p>
            <div class="latest__box-inner">
                <img src="assets/img/latest-3.png" alt="">
                <p>
                    Mairam Bibi says her sons
                    will not follow in their father’s
                    footsteps – an abductor who
                    kidnapped a teenage girl and
                    forced her into a violent marriage.
                </p>
            </div>
        </a>
    </div>
    <div>
        <a href='#' class="latest__box">
            <h2>
                Disabled entrepreneur paves
                the way
            </h2>
            <p><time datetime="2019-11-13">
                    Wednesday, November 13, 2019
                </time>
                - Bagymdat Atabaeva
            </p>
            <div class="latest__box-inner">
                <img src="assets/img/latest-4.png" alt="">
                <p>
                    “I was afraid when I
                    started the business, but
                    I kept finding motivation
                    and faith that I can do
                    more than I myself
                    expected, ”disabled entrepreneur Meder
                    Usupbekov told the Yellow Space.
                </p>
            </div>
        </a>
    </div>

</section>