<nav class="menu">
    <ul class="menu__list">
        <li class="menu__list-inner">
            <a href="#">
                ABOUT
            </a>
        </li>
        <li class="menu__list-inner active">
            <a href="#">
                NEWS
            </a>
        </li>
        <li class="menu__list-inner">
            <a href="#">
                MEDIUMS
            </a>
        </li>
        <li class="menu__list-inner">
            <a href="#">
                RESEARCH
            </a>
        </li>
    </ul>
</nav>