<section class="news">
    <div class="news__wrapp">
        <img src="assets/img/img-1.png" alt="">
        <div class="news__wrapp-inner">
            <div class="news__line">
                <div class="news__col-1">
                    <h2>
                        DATE
                    </h2>
                </div>
                <div class="news__col-2">
                    <a href="#">
                        <time datetime="2021-09-03">September 3rd,2021
                        </time>
                    </a>
                </div>
            </div>
            <div class="news__line">
                <div class="news__col-1">
                    <h2>
                        TOPIC
                    </h2>
                </div>
                <div class="news__col-2">
                    <a href="#">
                        Research
                    </a>
                </div>
            </div>
            <div class="news__line">
                <div class="news__col-1">
                    <h2>
                        MEDIUM
                    </h2>
                </div>
                <div class="news__col-2">
                    <a href="#">
                        Text
                    </a>
                </div>
            </div>
            <div class="news__line">
                <div class="news__col-1">
                    <h2>
                        AUTHOR
                    </h2>
                </div>
                <div class="news__col-2">
                    <a href="#">
                        Soheil Ashrafi
                    </a>
                </div>
            </div>
            <div class="news__line">
                <div class="news__col-1">
                    <h2>
                        MAJOR
                    </h2>
                </div>
                <div class="news__col-2">
                    <a href="#">
                        Communications & Media
                    </a>
                </div>
            </div>
            <div class="news__line">
                <div class="news__col-1">
                    <h2>
                        CAMPUS
                    </h2>
                </div>
                <div class="news__col-2">
                    <a href="#">
                        Naryn
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h1>
        ART IN THE AGE OF DIGITAL MEDIA,POST-TRUTH AND GLOBALISATION
    </h1>
    <p>
        the whole article. the whole article. the whole article. the whole article. the whole article.
        the whole article. the whole article. the whole article. the whole article. the whole article.
    </p>
    <p>
        the whole article. the whole article. the whole article. the whole article. the whole article.

    </p>
    <p>
        the whole article. the whole article. the whole article. the whole article. the whole article.
        the whole article. the whole article. the whole article. the whole article. the whole article.
        the whole article. the whole article. the whole article. the whole article. the whole article.
    </p>
    <p>
        the whole article. the whole article. the whole article. the whole article. the whole article.
        the whole article. the whole article. the whole article. the whole article. the whole article
    </p>
</section>