@import"../sass/vendor/reset";

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1400px;
}

@import"../sass/blocks/header";